Package: ru.sberbank-jailbreak-bypass-patch
Name: sberbank-jailbreak-bypass-patch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: This is a package built upon Theos and prevents Sberbank mobile app to detect Jailbreak
Maintainer: jene4444ka
Author: jene4444ka
Section: Tweaks
